h1
{
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table,tr, td
{
    border: 1px solid black;
    text-align: left;
    background-color: #af4ca78e;
    color: rgb(14, 1, 1);
    font-size: 19px;
}
th
{
text-align: center;
font-size: 25px;
}